 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>The Honest Tech is the solution to the IT problems. We provide Scala, Java and Agile technologies experts. Whether you're a startup, an estabilished company or a big enterprise organization, we provide always the best contractors you can find on the market. </p>
                </div>
                <div class="col-lg-4">
                    <p>
                    The name of our company reflects our policy: we build simple solutions to complex problems and we create the infrastructure to enforce good programming practices in order to make the code we write easy to mantain.</p>
                </div>
            </div>
        </div>
    </section>